# --- 기타 파일 ---
HELP.md
.github/

# --- Gradle / 빌드 산출물 ---
.gradle/
gradle/
gradlew
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# --- STS (Spring Tool Suite) ---
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# --- NetBeans ---
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# --- VS Code ---
.vscode/

# --- 민감 정보(Secret) ---
src/main/resources/secret.yml
secret.yml

# --- 빌드 산출물 ---
findex/build/
